
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form action="/auth" method="post">
            <input type="text" name="name" id="user" placeholder="User" required>
            <input type="password" name="pass" id="pass" placeholder="Password" required>
            <input type="submit" class="btn-login" value="Login">

        </form>
        <form action="/register" method="GET">
            <input type="submit" class="btn-registrar" value="register">
    </div>
</body>
</html>