<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestros</title>
    <link rel="icon" type="icono" href="/img/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="bg-[#730027] h-14 w-auto flex items-center justify-between">

        <div class="flex items-center">

            <img class="ml-3 h-11 w-10" src="/img/logo2.png" alt="logo">
            <h1 class="text-white font-semibold ml-2">Portal de oficios</h1>

        </div>
        

        <div class="space-x-8 mr-8 font-medium">

            <button class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg">• Maestros</button>
            <button class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg">• Materias</button>
            <button class="text-white duration-150 ease-in-out hover:scale-100 hover:bg-white hover:text-black hover:p-1 hover:rounded-lg">• Usuarios</button>

        </div>
      
    </div>
    
</body>
</html>