<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestros</title>
    <link rel="icon" type="icono" href="/img/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="bg-[#730027] h-14 w-auto flex items-center justify-between">
        <img class="ml-3 h-11 w-10" src="/img/logo2.png" alt="logo">
        <h1 class="text-white font-semibold ml-2">Portal de oficios</h1>
      
        <button>
            <img class="mr-5 h-6 w-6 duration-500 ease-in-out hover:scale-125" src="/img/configuracion.png" alt="configura">
            </div>
        </button>
    <div class="container">
        <label for="materia">Materia:</label>
        <input type="text" id="materia">
        <button class="btn" id="btnAgregar">Agregar</button>
        <button class="btn" id="btnBorrar">Borrar</button>
    </div>
    
</body>
</html>