<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de PDF</title>
    <link rel="icon" type="icono" href="/img/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="bg-[#730027] h-14 w-auto flex items-center justify-between">
        <div class="flex items-center">
            <img class="ml-3 h-11 w-10" src="/img/logo2.png" alt="logo">
            <h1 class="text-white font-semibold ml-2">Portal de oficios</h1>
        </div>
    </div>

    <h1 class="font-medium mt-10 ml-10">FAVOR DE LLENAR TODOS LOS CAMPOS PARA GENERAR EL OFICIO</h1>

    <div class="flex">
        <div class="w-7/12">
            <form class="space-y-10 mt-10 w-11/12" id="formularioPdf" action="/generar-pdf" method="POST"
                target="iframePdf">
                <div class="flex space-x-24">
                    <div class=" space-x-1 flex items-center ml-10">
                        <!-- Eliminado el campo de Número de Oficio -->
                    </div>
                    <div class=" space-x-1 flex items-center">
                        <label class="font-medium text-sm" for="asunto">ASUNTO*</label>
                        <input class="h-8 rounded border-slate-400 border" type="text" id="asunto" name="asunto"
                            required><br><br>
                    </div>
                </div>
                <div class="flex space-x-24">
                    <div class=" space-x-1 flex items-center ml-10">
                        <label class="font-medium text-sm" for="fecha">FECHA*</label>
                        <!-- Cambiado el tipo de input a date y eliminado el atributo required -->
                        <input class="h-8 rounded border-slate-400 border" type="date" id="fecha" name="fecha"><br><br>
                    </div>
                    <div class=" space-x-1 flex items-center">
                        <label class="font-medium text-sm" for="destinatario">DIRIGIDO A...</label>
                        <input class="h-8 rounded border-slate-400 border" type="text" id="destinatario"
                            name="destinatario" required><br><br>
                    </div>
                </div>
                <!-- Nuevos campos agregados -->
                <div class="flex space-x-24">
                    <div class="space-x-1 flex items-center ml-10">
                        <label class="font-medium text-sm" for="maestro">MAESTRO*</label>
                        <select class="h-8 rounded border-slate-400 border" id="maestro" name="maestro" required>
                            <!-- Las opciones se cargarán dinámicamente desde la base de datos -->
                        </select><br><br>
                    </div>
                    <div class="space-x-1 flex items-center ml-10">
                        <label class="font-medium text-sm" for="especialidades">ESPECIALIDAD*</label>
                        <select class="h-8 rounded border-slate-400 border" id="especialidades" name="especialidades"
                            required>
                            <!-- Las opciones se cargarán dinámicamente desde la base de datos -->
                        </select><br><br>
                    </div>
                </div>
                <div class="flex space-x-24">
                    <div class="space-x-1 flex items-center ml-10">
                        <label class="font-medium text-sm" for="grupo">GRUPO*</label>
                        <select class="h-8 rounded border-slate-400 border" id="grupo" name="grupo"
                            required>
                            <!-- Las opciones se cargarán dinámicamente desde la base de datos -->
                        </select><br><br>
                    </div>
                    <div class=" space-x-1 flex items-center">
                        <label class="font-medium text-sm" for="jefeDocentes">JEFE DE DOCENTES*</label>
                        <input class="h-8 rounded border-slate-400 border" type="text" id="jefeDocentes"
                            name="jefeDocentes" required><br><br>
                    </div>
                </div>
                <!-- Fin de nuevos campos -->
                <div class="h-44">
                    <label class="font-medium text-sm ml-9" for="textoOficio">TEXTO DE OFICIO</label><br>
                    <textarea class="rounded border-slate-400 border w-10/12 h-44 ml-9" id="textoOficio"
                        name="textoOficio" rows="4" cols="50" required></textarea><br><br>
                </div>
                <div class="space-x-5">
                    <button class="bg-slate-300 text-black font-medium w-28 h-10 rounded-lg ml-9"
                        type="submit">CANCELAR</button>
                    <button class="bg-[#730027] text-white font-medium w-36 h-10 rounded-lg" type="submit">GENERAR
                        OFICIO</button>
                </div>
            </form>
        </div>
        <div class="-mt-10 ml-8">
            <h2 class="font-medium text-sm">Vista previa del PDF:</h2>
            <iframe id="iframePdf" name="iframePdf" class="border w-96 h-full border-slate-400"></iframe>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Cuando el documento esté listo
        $(document).ready(function () {
            // Realizar una solicitud AJAX para obtener los nombres de los maestros
            $.get('/obtener-maestros', function (maestros) {
                // Iterar sobre los nombres de los maestros y agregar opciones al menú desplegable
                maestros.forEach(function (maestro) {
                    $('#maestro').append($('<option>', {
                        value: maestro,
                        text: maestro
                    }));
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Cuando el documento esté listo
        $(document).ready(function () {
            // Realizar una solicitud AJAX para obtener las materias
            $.get('/obtener-especialidad', function (especialidad) {
                // Iterar sobre las materias y agregar opciones al menú desplegable
                especialidad.forEach(function (especialidades) {
                    $('#especialidades').append($('<option>', {
                        value: especialidades,
                        text: especialidades
                    }));
                });
            });
        });
    </script>

    <script>
        // Cuando el documento esté listo
        $(document).ready(function () {
            // Realizar una solicitud AJAX para obtener las materias
            $.get('/obtener-grupos', function (grupos) {
                // Iterar sobre las materias y agregar opciones al menú desplegable
                grupos.forEach(function (grupo) {
                    $('#grupo').append($('<option>', {
                        value: grupo,
                        text: grupo
                    }));
                });
            });
        });
    </script>

</body>

</html>

</body>

</html>